{% extends 'base.html' %}

{% block titulo %}
Roles
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Roles</h3>

    <!-- Tarjeta -->
    <div class="card">
        <div class="card-header">
            <button type="button" class="btn btn-primary" id="btnAgregarRol">Agregar Rol</button>
        </div>
        <div class="card-body">
            <table class="table table-striped" id="tblRoles">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!-- /Tarjeta -->

    <!-- Modal para formulario -->
    <div class="modal" id="modalFormularioRol">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Encabezado del modal -->
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitleRol"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Cuerpo del modal -->
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="txtIdRol">
                        <label for="txtNombreRol">Nombre del Rol:</label>
                        <input type="text" class="form-control" placeholder="Ingrese nombre del rol" id="txtNombreRol">
                    </div>
                </div>

                <!-- Pie del modal -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnGuardarRol">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>

    <div class="row mt-4 d-none" id="rowAlertaRol">
        <div class="col col-md-12">
            <div class="alert alert-success">
                <strong>Registro Exitoso!</strong>
                <div class="row" id="mostrarAlertaRol"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>

  const initDatatableRoles = () => {
    $('#tblRoles').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/roles',
      columns: [
        { data: 'rol_nombre' },
        { data: function(row) {
            return `<button type="button" name="btn_editar_rol" class="btn btn-primary" data-idrol="${row.idrol}">Editar</button>
                    <button type="button" name="btn_eliminar_rol" class="btn btn-danger" data-idrol="${row.idrol}">Eliminar</button>`
          }
        }
      ]
    });
  }

  const agregarRol = () => {
    $('#btnAgregarRol').on('click', function(){
      $('#modalTitleRol').text("Agregar un Rol");
      $('#txtIdRol').val("");
      $('#txtNombreRol').val("");
      $('#modalFormularioRol').modal();
    });
  }

  const guardarRol = () => {
    $('#btnGuardarRol').on('click', function() {
      const idRol = $('#txtIdRol').val();
      const nuevoNombre = $('#txtNombreRol').val();
      const tabla = $('#tblRoles').DataTable();

      if(idRol) {
        // update
        fetch(`/api/v1/roles/${idRol}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          }, body: JSON.stringify({ nombre: nuevoNombre })
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "El rol ha sido actualizado correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar el rol.", "error");
        });
      } else {
        // insert
        fetch(`/api/v1/roles`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }, body: JSON.stringify({ nombre: nuevoNombre })
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "El rol ha sido agregado correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar el rol.", "error");
        });
      }
      $('#txtNombreRol').val("");
      $('#modalFormularioRol').modal("hide");
    });
  }

  const editarRol = () => {
    $('#tblRoles').on('click', 'button[name="btn_editar_rol"]',function(){
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          $('#modalTitleRol').text("Editar un Rol");

          const idRol = $(this).data('idrol');
          $('#txtIdRol').val(idRol);

          fetch(`/api/v1/roles/${idRol}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            $('#txtNombreRol').val(data.data.rol_nombre);
            $('#modalFormularioRol').modal();
          });
        }
      });
    });
  }

  const eliminarRol = () => {
    $('#tblRoles').on('click', 'button[name="btn_eliminar_rol"]',function(){
      const idRol = $(this).data('idrol');
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/roles/${idRol}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if(data && !data.error && data.success) {
              const fila =$(this).closest('tr');
              const tabla = $('#tblRoles').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "", data.success);
            } else {
              Swal.fire(data.error);
            }
          }).catch(err => {
            Swal.fire("Error", "Ocurrió un error al eliminar el rol.", "error");
          });
        }
      });
    });
  }

  const addEventsRoles = () => {
    agregarRol();
    guardarRol();
    editarRol();
    eliminarRol();
  }

  $(function() {
    initDatatableRoles();
    addEventsRoles();
  });
</script>
{% endblock %}
