{% extends 'base.html' %}

{% block titulo %}
Orden de Produccion
{% endblock %}

{% block contenido %}
<div class="container mt-4">
  <h3>Listar Ordenes de Producciones</h3>

  <!-- tarjeta -->
  <div class="card">
    <div class="card-header">
      <button type="button" class="btn btn-primary" id="btnAgregar">Agregar</button>
    </div>
    <div class="card-body">
      <div class="table-responsive" style="max-height: 500px; overflow-y: auto; overflow-x: auto;">
        <table class="table table-striped" id="tbl">
          <thead>
            <tr>
              <th>ID Orden</th>
              <th>Cliente</th>
              <th>CI</th>
              <th>Estado</th>
              <th>Gestionar</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /tarjeta -->

  <!-- El formulario -->
  <div class="modal" id="modalFormulario">
    <!-- La clase modal-dialog-centered centra el modal -->
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" id="modalTitle"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">
            <input type="hidden" id="txtidproduccion">
            <label for="txtCliente">Cliente:</label>
            <input type="hidden" id="txtIdCliente">
            <input type="text" class="form-control" placeholder="click para buscar Cliente" id="txtCliente" readonly>
            <label for="txtDescripcion">Asignar Prendas</label>
            <div class="form-row">
              <input type="hidden" id="txtIdcosto">
              <input type="text" class="form-control" placeholder="Buscar Prendas" id="txtcosto" readonly
                style="width: 350px;">
              <button type="button" class="btn btn-success" id="cargarmp">Cargar</button>
            </div>
            <label for="txtDescripcion">Prendas seleccionadas:</label>
            <div class="table-responsive" style="max-height: 200px; overflow-y: auto; overflow-x: auto;">
              <table class="table table-striped" id="detalles">
                <thead>
                  <tr>
                    <th>Prenda</th>
                    <th>ELIMINAR</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">

          <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>
  <!-- buscar datos cliente -->
  <div class="modal" id="modalFormulariob">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal2Title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered w-100" id="tblb">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>CI</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal de gestion de ordenes -->
  <div class="modal" id="modalFormulariog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalTitleg"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="hidden" id="txtidproducciong">
            <label for="txtClienteg">Cliente:</label>
            <input type="hidden" id="txtIdClientef">
            <input type="text" class="form-control" id="txtClienteg" readonly>
            <label for="txtDescripcion">Prendas seleccionadas:</label>
            <div class="table-responsive" style="max-height: 200px; overflow-y: auto; overflow-x: auto;">
              <table class="table table-striped" id="detallesg">
                <thead>
                  <tr>
                    <th>Prenda</th>
                    <th>Color</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">

          <button type="button" class="btn btn-primary" id="btnFinalizar">Finalizar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>

  <!-- buscar datos prendas(tabla costos) -->

  <div class="modal" id="modalFormularioc">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal3Title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="table-responsive " style="max-height: 400px; overflow-y: auto; overflow-x: auto;">
            <table class="table table-striped table-bordered w-100" id="tblc">
              <thead>
                <tr>
                  <th>Prenda</th>
                  <th>color</th>
                  <th>Consulta Disponibilidad</th> <!-- boton al modal de veificacion -->
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal para verificar si hay materias primas suficientes para la prenda -->

  <div class="modal" id="modalFormulariod">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal4Title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div>
            <input type="hidden" id="disponible" value="1">
            <input type="hidden" id="txtIdconsulta">
            <input type="text" class="form-control" readonly value="" id="txtnprenda">
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered w-100" id="tblm">
              <thead>
                <tr>
                  <th>Materia prima necesaria</th>
                  <th>Unidad de medida</th>
                  <th>Necesaria</th>
                  <th>En stock</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnAsignarp">Asignar</button>
          <!-- boton asigna y carga la prenda seleccionada al formulario si hay suficientes materiales -->
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!--modal para agrera mp extra  -->
  <div class="modal" id="modalFormulariomp">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalTitlemp"></h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="txtDescripcion">Materias primas:</label>
            <div class="form-row">
              <input type="hidden" id="txtIdMateria_prima">
              <input type="hidden" id="txtstockmp">
              <input type="text" class="form-control" placeholder="buscar Materia Prima" id="txtmateria_prima" readonly
                style="width: 200px;">
              <input type="number" class="form-control" placeholder="Cantidad" id="txtCantidad" style="width: 100px;"
                min="1">
              <button type="button" class="btn btn-success" id="cargarmpe">Cargar</button>
            </div>
            <label for="txtDescripcion">Materias primas seleccionadas:</label>
            <div class="table-responsive" style="max-height: 200px; overflow-y: auto; overflow-x: auto;">
              <table class="table table-striped" id="detallesmpe">
                <thead>
                  <tr>
                    <th>NOMBRE</th>
                    <th>CANTIDAD</th>
                    <th>ELIMINAR</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnGuardarmp">Guardar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- tabla de mp extras -->
  <div class="modal" id="modalFormulariompe">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalTitlempe"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered w-100" id="tblmpe">
              <thead>
                <tr>
                  <th>Materia Prima</th>
                  <th>color</th>
                  <th>stock</th>
                  <th>Medida</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4 d-none" id="rowAlerta">
    <div class="col col-md-12">
      <div class="alert alert-success">
        <strong>Registro Exitoso!</strong>
        <div class="row" id="mostrarAlerta"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>

  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax: '/api/v1/producciones',
      columns: [
        { data: 'idorden_produccion' },
        {
          data: 'per_nombre',
          render: function (data, type, row) {
            return row.per_nombre + ' ' + row.per_apellido;
          }
        },
        { data: 'per_ci' },
        { data: 'eta_nombre' },
        {
          data: function (row) {
            const estadosHabilitados = ["PENDIENTE PRODUCCION", "MEJORABLE"];
            const isEnabled = estadosHabilitados.includes(row.eta_nombre);

            return `<button type="button" name="btn_editar" class="btn btn-primary" 
                data-idorden="${row.idorden_produccion}" 
                ${isEnabled ? "" : "disabled"}>
                Gestionar
            </button>`;
          }
        }
      ]
    });
  }

  const initDatatableb = () => {
    $('#tblb').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax: '/api/v1/clientes',
      columns: [
        { data: 'per_nombre' },
        { data: 'per_apellido' },
        { data: 'per_ci' },
        {
          data: function (row) {
            return `<button type="button" name="btn_asignar" class="btn btn-primary" data-id="${row.idcliente}" data-pnombre="${row.per_nombre}" data-papellido="${row.per_apellido}" data-pci="${row.per_ci}">
                      <i class="fa fa-check"></i> Seleccionar
                    </button>`
          }
        }
      ]
    });
    $('#tblb').on('click', 'button[name="btn_asignar"]', function () {
      const idCliente = $(this).data('id');
      const nombre = $(this).data('pnombre');
      const apellido = $(this).data('papellido');
      const ci = $(this).data('pci');
      $('#txtCliente').val(nombre + ' ' + apellido + ' ' + ci);
      $('#txtIdCliente').val(idCliente);
      //Cerrar el modal
      $('#modalFormulariob').modal('hide');
    });

  }
  const initDatatablec = () => {
    $('#tblc').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax: '/api/v1/costos',
      columns: [
        { data: 'pro_nombre' },
        { data: 'pro_color' },
        {
          data: function (row) {
            return `<button type="button" name="btn_asignar"  class="btn btn-primary" data-id="${row.idcosto}" data-pnombre="${row.pro_nombre}" data-pcolor="${row.pro_color}" >
                      <i class="fa fa-eye"></i> Consultar
                    </button>`
          }
        }
      ]
    });
    $('#tblc').on('click', 'button[name="btn_asignar"]', function () {
      //alert('Asignar');
      const idcosto = $(this).data('id');
      const nombre = $(this).data('pnombre');
      const color = $(this).data('pcolor');

      // Asignar valores a los campos de entrada
      $('#txtnprenda').val(nombre + ' ' + color);
      $('#txtIdconsulta').val(idcosto);

      // Validar que idcosto es válido
      if (idcosto > 0) {
        fetch(`/api/v1/costos/${idcosto}/detalles`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
        })
          .then(resp => {
            if (!resp.ok) {
              throw new Error(`Error en la solicitud: ${resp.statusText}`);
            }
            return resp.json();
          })
          .then(detallesData => {
            const detalles = detallesData.data;
            const table = $("#tblm tbody");
            table.empty(); // Limpiar tabla antes de agregar nuevas filas

            detalles.forEach(detalle => {
              const { mp_nombre, unidad, cantidad, stock } = detalle;

              const newRow = $("<tr>");
              $("<td>").text(mp_nombre).appendTo(newRow);
              $("<td>").text(unidad).appendTo(newRow);
              $("<td>").text(cantidad).appendTo(newRow);
              $("<td>").text(stock).appendTo(newRow);
              if (cantidad > stock) {
                $('#cantidad').val(0);
              }
              table.append(newRow);
            });

            // Mostrar el modal después de cargar los datos
            $('#modal4Title').text("Disponibilidad de Materias Primas");
            $('#modalFormulariod').modal('show');
          })
          .catch(error => {
            console.error("Error al cargar los detalles:", error);
            alert("No se pudieron cargar los detalles. Intenta nuevamente.");
          });
      } else {
        alert("ID de costo no válido.");
      }
    });

  }
  const asignarprenda = () => {
    $('#btnAsignarp').on('click', function () {
      const a = $('#disponible').val();
      if (a > 0) {
        const idprenda = $('#txtIdconsulta').val();
        const prenda = $('#txtnprenda').val();
        $('#txtIdcosto').val(idprenda);
        $('#txtcosto').val(prenda);
        $('#modalFormulariod').modal('hide');
        $('#modalFormularioc').modal('hide');
      } else {
        Swal.fire("Error", "No hay disponibilidad de materias primas en la prenda seleccionada.", "error");
        return false;
      }
    });
  }

  const initDatatablem = () => {
    $('#tblmpe').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax: '/api/v1/materia_primas',
      columns: [
        { data: 'mat_nombre' },
        { data: 'mat_color' },
        { data: 'mat_cantidad' },
        { data: 'mat_unidad_medida' },
        {
          data: function (row) {
            return `<button type="button" name="btn_asignarmpe" class="btn btn-primary" data-id="${row.idmateria_prima}" data-producto="${row.mat_nombre}"data-stock="${row.mat_cantidad}">
                      <i class="fa fa-check"></i> Seleccionar
                    </button>`
          }
        }
      ]
    });
    $('#tblmpe').on('click', 'button[name="btn_asignarmpe"]', function () {
      const idMateria_prima = $(this).data('id');
      const materia_prima = $(this).data('producto');
      const stock = $(this).data('stock');
      $('#txtmateria_prima').val(materia_prima);
      $('#txtIdMateria_prima').val(idMateria_prima);
      $('#txtstockmp').val(stock);
      //Cerrar el modal
      $('#modalFormulariompe').modal('hide');
    });

  }
  const cargarDetallempe = () => {
    $("#cargarmpe").on('click', function () {
      //alert('car');
      const IdMateria_prima = $("#txtIdMateria_prima").val();
      const materia_prima = $("#txtmateria_prima").val();
      const stock = parseInt($("#txtstockmp").val());
      const cantidad = $("#txtCantidad").val();
      if (cantidad > 0 && cantidad < stock) {
        // nueva fila
        const table = $("#detallesmpe tbody");
        const newRow = $("<tr>");

        $("<td>").text(materia_prima).appendTo(newRow);
        $("<td>").text(cantidad).appendTo(newRow);
        $("<td>").html('<button class="btn btn-link btn-delete"><i class="fa fa-trash"></i></button>').appendTo(newRow);
        $("<td>").html('<input type="hidden" id="idmp" value="' + IdMateria_prima + '">').appendTo(newRow);
        table.append(newRow);

        // limpiar inputs
        $("#txtmateria_prima").val('');
        $("#txtCantidad").val('');
        $("#txtstockmp").val('');
        $("#txtIdMateria_prima").val('');

        newRow.find(".fa-trash").click(function () {
          const row = $(this).closest("tr");
          row.remove();
        });

      }else{
        alert("La cantidad debe ser mayor a 0 y menor al stock de la materia prima.");
      }
    });
  }
  const guardarmpe = () => {
    $('#btnGuardarmp').on('click', function () {
      $("#detallesmpe tbody tr").each(function () {
        const idmp = $(this).find("input[type='hidden']").val();
        const cantidad = $(this).find("td").eq(1).text();
        let detalles = [];

        if (idmp) {
          detalles.push({
            idmateria_prima: idmp,
            dco_cantidad: cantidad
          });
        }
        const dataa = {
          detalles: detalles,
        };
        fetch(`/api/v1/produccionesmp`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(dataa)
        })
      });
      $('#modalFormulariomp').modal('hide');
      finalizar();
    });
  }
  const buacarmat = () => {
    $('#txtmateria_prima').on('click', function () {
      // Setear un título a modal
      $('#modalTitlempe').text("Selecciona una Materia Prima");
      // inicia ventana modal
      $('#modalFormulariompe').modal();
    });
  }
  const finalizar = () => {
    const tabla = $('#tbl').DataTable();
    const dataa = $('#txtidproducciong').val();
    const accion = 'procesar';
    //alert('finalizar');
    fetch(`/api/v1/produccionesfin`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        idproduccion: dataa,
        accion: accion
      }),
    })
      .then(resp => resp.json())
      .then(data => {
        if (data.success) {
          $('#modalFormulariog').modal("hide");
          tabla.ajax.reload();
          Swal.fire("Actualizado", "La orden ha sido actualizada correctamente.", "success");
        } else {
          Swal.fire(data.error || "Error desconocido");
        }
      }).catch(err => {
        console.error(err);
        Swal.fire("Error", "Ocurrió un error al actualizar el costo.", "error");
      });
  }

  const agregar = () => {
    $('#btnAgregar').on('click', function () {
      // Setear un título a modal
      $('#modalTitle').text("Agregar un Costo");
      // inicia ventana modal
      $('#txtidproduccion').val("");
      $('#txtDescripcion').val("");
      $('#modalFormulario').modal();
    });
  }

  const buacarcliente = () => {
    $('#txtCliente').on('click', function () {
      // Setear un título a modal
      $('#modal2Title').text("Selecciona un Cliente");
      // inicia ventana modal
      $('#modalFormulariob').modal();
    });
  }
  const buacarcosto = () => {
    $('#txtcosto').on('click', function () {
      // Setear un título a modal
      $('#modal3Title').text("Selecciona una Prenda");
      // inicia ventana modal
      $('#modalFormularioc').modal();
    });
  }


  const cargarDetalle = () => {
    $("#cargarmp").on('click', function () {

      const Idcosto = $("#txtIdcosto").val();
      const costo = $("#txtcosto").val();
      if (Idcosto > 0) {
        // nueva fila
        const table = $("#detalles tbody");
        const newRow = $("<tr>");

        $("<td>").text(costo).appendTo(newRow);
        $("<td>").html('<button class="btn btn-link btn-delete"><i class="fa fa-trash"></i></button>').appendTo(newRow);
        $("<td>").html('<input type="hidden" id="idmp" value="' + Idcosto + '">').appendTo(newRow);
        table.append(newRow);

        // limpiar inputs
        $("#txtIdcosto").val('');
        $("#txtcosto").val('');

        newRow.find(".fa-trash").click(function () {
          const row = $(this).closest("tr");
          row.remove();
        });

      }
    });
  }

  const guardar = () => {
    $('#btnGuardar').on('click', function () {
      const idProduccion = $('#txtidproduccion').val();
      const idCliente = $('#txtIdCliente').val();
      const tabla = $('#tbl').DataTable();
      const detalles = [];

      $("#detalles tbody tr").each(function () {
        const idcosto = $(this).find("input[type='hidden']").val();

        if (idcosto) {
          detalles.push({
            idcosto: idcosto,
          });
        }
      });
      console.log("Detalles:");
      console.log(JSON.stringify(detalles, null, 2));

      const dataa = {
        cliente_id: idCliente,
        detalles: detalles
      };

      if (detalles.length > 0) {
        // insert
        fetch(`/api/v1/producciones`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(dataa)
        })
          .then(resp => resp.json())
          .then(data => {
            if (data && !data.error && data.success) {
              tabla.ajax.reload();
              Swal.fire("Agregado", "La orden ha sido Creada correctamente.", "success");
            } else {
              Swal.fire(data.error || "Error desconocido");
            }
          }).catch(err => {
            console.error(err);
            Swal.fire("Error", "Ocurrió un error al guardar el costo.", "error");
          });
          $('#modalFormulario').modal("hide");
      }
      Swal.fire("Error", "Datos incompletos", "error");
      
    });
  }
  const enviarArevision = () => {
    $('#btnFinalizar').on('click', function () {
      Swal.fire({
        title: "¿Se utilizo Materia prima extra?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          //alert("si");
          $('#modalTitlemp').text("Agrege las materias primas extras utilizadas");
          $('#modalFormulariomp').modal();
        } else {
          //alert("no");
          finalizar();
        }
      });
    });
  }
  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]', function () {
      // Mostrar mensaje de confirmación usando sweetalert
      Swal.fire({
        title: "¿Deseas Gestionar esta orden?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          //Swal.fire("Saved!", "", "success");
          $('#modalTitleg').text("Gestionar orden de produccion");

          const idOrden = $(this).data('idorden');
          $('#txtidproducciong').val(idOrden);
          //alert($(this).data('idorden'));
          // Necesitamos obtener la descripción del backend
          fetch(`/api/v1/producciones/${idOrden}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          })
            .then(resp => {
              if (!resp.ok) {
                throw new Error(`Error en la solicitud: ${resp.statusText}`);
              }
              return resp.json();
            })
            .then(data => {
              $('#txtIdClienteg').val(data.data.idcliente);
              $('#txtClienteg').val(data.data.per_nombre);
              $('#modalFormulariog').modal();
              return fetch(`/api/v1/producciones/${idOrden}/detalles`, {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json'
                }
              });
            })
            .then(resp => {
              if (!resp.ok) {
                throw new Error(`Error en la solicitud: ${resp.statusText}`);
              }
              return resp.json();
            })
            .then(detallesData => {
              const detalles = detallesData.data;
              const table = $("#detallesg tbody");
              table.empty(); // Limpiar tabla

              detalles.forEach(detalle => {
                const { idcosto, pro_nombre, pro_color } = detalle;

                const newRow = $("<tr>");
                $("<td>").text(pro_nombre).appendTo(newRow);
                $("<td>").text(pro_color).appendTo(newRow);

                table.append(newRow);
              });

              // Actualizar total general en el formulario

              // Mostrar modal
              //$('#modalFormulario').modal();
            })
            .catch(error => {
              console.error("Error al obtener los datos:", error);
              Swal.fire("Error", "No se pudo cargar el costo. Intente nuevamente.", "error");
            });
        }
      });
    });
  }

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]', function () {
      const idCosto = $(this).data('idcosto');
      // Mostrar mensaje de confirmación usando sweetalert
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/costos/${idCosto}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          })
            .then(resp => resp.json())
            .then(data => {
              if (data && !data.error && data.success) {
                // Para borrar la fila del datatable(cliente)
                const fila = $(this).closest('tr');
                const tabla = $('#tbl').DataTable();
                tabla.row(fila).remove().draw();
                Swal.fire("Eliminado", "", data.success);
              } else {
                Swal.fire(data.error);
              }
            }).catch(err => {
              Swal.fire("Error", "Ocurrió un error al eliminar el costo.", "error");
            });
        }
      });

    });
  }

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
    buacarcliente();
    buacarcosto();
    cargarDetalle();
    asignarprenda();
    enviarArevision();
    cargarDetallempe();
    buacarmat();
    guardarmpe();
  }

  $(function () {
    initDatatable();
    initDatatableb();
    initDatatablem();
    initDatatablec();
    addEvents();
  });
</script>
{% endblock %}